<html>
	<head>
		<title>Vote</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
		<link rel='stylesheet' href='../../public/css/general.css'>

		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
		<script src='/socket.io/socket.io.js'></script>
		<% if (accessCode) { %>
		     <script>
				function initQuestion() {
					$('.answer').remove();
					$('#question').html(question);
					if(answers.indexOf(',') > 0)
						answers = answers.split(',');
				    for(var i = answers.length - 1; i >= 0; i--)
				    	$('<h5 class=\'answer centeredText\'>' + answers[i] + ' (' + (i+1) + ')</h5>').insertAfter('#question');
				    givenAnswers = [];
				    $('button').prop('disabled', false);
				    updateButtons();
				}
				function clearQuestion() {
					$('#question').html('Väntar på fråga...');
					$('.answer').remove();
					question = null;
					answers = null;
					numberOfRequired = null;
					vacantIndex = -1;
					blankIndex = -1;
					givenAnswers = [];
					$('button').prop('disabled', true);
					updateButtons();
				}
				var flashBusy = false;
				function flashMessage(msg) {
					$('#flash').html(msg);
					if(!flashBusy) {
						flashBusy = true;
						$('#flash').show();
						setTimeout(clearFlashMessage, 2000);
					}
				}
				function clearFlashMessage() {
					$('#flash').hide();
					flashBusy = false;
				}
				function hasQuestion() {
					return question != null && question != '' && answers != null && numberOfRequired != null && blankIndex != null && vacantIndex != null;
				}
				function displayAnswers() {
					var a = '';
					for(var i = 0; i < givenAnswers.length; i++) {
						if(i != givenAnswers.length - 1)
							a += answers[givenAnswers[i]] + ', ';
						else
							a += answers[givenAnswers[i]];
					}
					if(a == '')
						flashMessage('Inga svar registrerade.');
					else
						flashMessage('Svar: ' + a);
					updateButtons();
				}
				function clearAnswers() {
					givenAnswers = [];
					flashMessage('Svaren är nollställda.')
					updateButtons();
				}
				function postAnswer() {
					if(givenAnswers.length == numberOfRequired) {
						$.post('vote', { accessCode: code, answers : givenAnswers}, function(returnedData){
							if(returnedData == 'success') {
								clearQuestion();
								flashMessage('Svar registrerat!');
							} else if(returnedData == 'anweredError') {
								clearQuestion();
								flashMessage('Du har redan svarat på frågan.')
							} else if(returnedData == 'corruptError')
								flashMessage('Korrupt svarsdata.');
						});
					} else
						flashMessage('Du har inte angivit tillräckligt många svar!');
					updateButtons();
				}
				function updateButtons() {
					if(numberOfRequired == null || numberOfRequired == -1 || !numberOfRequired)
						$('#displayAnswers').html('Registrerade svar');
					else
						$('#displayAnswers').html('Registrerade svar (' + givenAnswers.length + '/' + numberOfRequired + ')');
					if(givenAnswers.length == numberOfRequired)
						$('#send').prop('disabled', false);
					else
						$('#send').prop('disabled', true);
				}

		        var code = '<%= accessCode %>';
		        var question = '<%= question %>';
		        var answers = '<%= answers %>';
		        var numberOfRequired = '<%= numberOfRequired %>';
		        var vacantIndex = '<%= vacantIndex %>';
		        var blankIndex = '<%= blankIndex %>';

		        var givenAnswers = [];
		     </script>
		<% } %>
		<script type='text/javascript'>
			var socket = io();
			window.onkeypress = function(e) {
				if(hasQuestion()) {
					if(givenAnswers.length < numberOfRequired) {
						var key = e.keyCode - 49;
						if(key >= 0 && key < answers.length) {
							if(key != vacantIndex && key != blankIndex) {
								for(var i = 0; i < givenAnswers.length; i++) {
									if(givenAnswers[i] == key) {
										flashMessage('Svaret har registrerats förut!');
										updateButtons();
										return;
									}
								}
							}

							givenAnswers[givenAnswers.length] = key;
							flashMessage('Svar registrerat!');
						}
					} else
						flashMessage('Alla svar är redan angivna!')
				}
				updateButtons();
			};
			window.onload = function(e) {
				if(hasQuestion())
					initQuestion();
				else {
					updateButtons();
					$('button').prop('disabled', true);
				}
			}
			socket.on('new question', function(msg){
				question = msg.question;
				answers = msg.answers;
				numberOfRequired = msg.numberOfRequired;
				vacantIndex = msg.vacantIndex;
				blankIndex = msg.blankIndex;
				if(hasQuestion())
			    	initQuestion();
			    else
			    	clearQuestion();
			});
		</script>
	</head>
	<body>
		<div class='centeredWrapper centeredText'>
			<h2 id='question'>
				Väntar på fråga...
			</h2>
			<button id='displayAnswers' type='button' class='btn btn-default btn-xs' onclick='displayAnswers()'>Registrerade svar</button>
			<button type='button' class='btn btn-danger btn-xs' onClick='clearAnswers()'>Nollställ svar</button>
			<button id='send' type='button' class='btn btn-success btn-xs' onClick='postAnswer()'>Svara</button>
			<p id='flash'></p>
		</div>
	</body>
</html>